#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        bt_nxt_macro: bt_nxt_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_NXT>;
        };
        bt_clr_macro: bt_clr_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
    };

    behaviors {
        /* サイドボタン用: 押しながらでレイヤー1(&mo)、短押しでマウスボタン(&mkp) */
        lt_mkp: layer_tap_mouse_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
        };

        /* モードボタン用: 2秒長押しでペアリング解除、短押しで次の接続先へ */
        bt_mode: bt_mode_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <2000>;
            bindings = <&bt_clr_macro>, <&bt_nxt_macro>;
        };

        /* ホイール縦・横スクロール用（エンコーダ回転） */
        rot_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mkp LCLK
                &mkp RCLK
                &mkp MCLK
                &lt_mkp 1 MBTN4
                &bt_mode 0 0
            >;
            sensor-bindings = <&rot_msc SCRL_DOWN SCRL_UP>;
        };

        scroll_layer {
            bindings = <
                &trans
                &trans
                &trans
                &trans
                &trans
            >;
            sensor-bindings = <&rot_msc SCRL_RIGHT SCRL_LEFT>;
        };
    };
};
